{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!-- My CSS -->
    <link rel="stylesheet" type="text/css" href="{% static 'tmdb/main.css' %}">

    <!-- FontAwesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    {% if title %}
        <title>TMDb-{{ title }}</title>
    {% else %}
        <title>TMDb</title>
    {% endif %}
</head>

<body>
<header class="site-header">
    <nav class="navbar navbar-expand-md navbar-dark bg-steel fixed-top">
        <div class="container">
            <a class="navbar-brand mr-4" href="{% url 'tmdb-home' %}">TMDb</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle"
                    aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarToggle">
                <div class="navbar-nav mr-auto">
                    <a class="nav-item nav-link" href="{% url 'tmdb-home' %}">Home</a>
                    <a class="nav-item nav-link" href="#">Movies</a>
                    <a class="nav-item nav-link" href="#">TV Shows</a>
                </div>
                <!-- Navbar Right Side -->
                <div class="navbar-nav">
                    {% if user.is_superuser %}
                        <a class="nav-item nav-link" href="{% url 'profile' %}">Profile</a>
                        <a class="nav-item nav-link" href="{% url 'admin:index' %}">Admin</a>
                        <a class="nav-item nav-link" href="{% url 'logout' %}">Logout</a>
                    {% elif user.is_authenticated %}
                        <a class="nav-item nav-link" href="{% url 'profile' %}">Profile</a>
                        <a class="nav-item nav-link" href="{% url 'logout' %}">Logout</a>
                    {% else %}
                        <a class="nav-item nav-link" href="{% url 'login' %}">Login</a>
                        <a class="nav-item nav-link" href="{% url 'register' %}">Register</a>
                    {% endif %}

                </div>
            </div>
        </div>
    </nav>
</header>

<main role="main" class="container">
    <div class="row">
        <div class="col-md-8">
            {% if messages %}
                {% for message in messages %}
                    <div class="alert alert-{{ message.tags }}">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endif %}
            {% block content %}{% endblock %}
        </div>
        <div class="col-md-4">
            <div class="content-section">
                <h3>Browse</h3>
                <small class="text-muted ml-2">
                    You can search for a movie by title or director.
                </small>

                <form method="get" action="{% url 'title-search' %}" class="form-inline ml-2">
                    <input class="form-control form-control-sm w-75" type="text" placeholder="Search..." name="search">
                    <button class="btn btn-outline-info btn-sm ml-2" type="submit"><i class="fa fa-search"
                                                                                      aria-hidden="true"></i></button>

                </form>

                <br>

                <p class='text-muted ml-2'>Browse by:
                <ul class="list-group">
                    <li class="list-group-item list-group-item-light"><a href="#">Latest Movies</a></li>
                    <li class="list-group-item list-group-item-light"><a href="#">Top Rated</a></li>
                    <li class="list-group-item list-group-item-light"><a href="#">Genres</a></li>
                </ul>
                </p>
            </div>
        </div>
    </div>
</main>

<!-- Footer -->
<footer class="page-footer font-small pt-4" style="margin-top: 5%; padding-bottom: 2%; padding-top: 2%;">

    <!-- Footer Elements -->
    <div class="container">
        <!-- Call to action -->
        <h5 class="text-center" style="color: #cbd5db">Join now <a href="{% url 'register' %}" class="btn btn-outline-info">Register!</a></h5>
    </div>

    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">
        &copy; 2021 Copyright <a href="{% url 'tmdb-home' %}"> TMDb</a>
        <br>
        Made with &hearts; by <a href="https://bouz.me">Bouz</a>
    </div>

</footer>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>
</html>