{% extends "tmdb/base.html" %}
{% block content %}
    {% for title in titles %}
        <a href="{% url 'title-detail' title.id %}">
            <div class="card card-link mb-3">
                <div class="card-body row">
                    <div class="col-2 card-title align-self-center">
                        <img class="article-img" src="{{ title.image.url }}" alt="{{ title.name }} Poster">
                    </div>
                    <div class="col-10 card-title align-self-center">
                        <h3>
                            {{ title.name }}
                            <small class="text-muted">{{ title.year }}</small>
                        </h3><br>

                        {% if title.avg_rating %}
                            <h5>{{ title.avg_rating }} <span style="color: gold">&starf;</span></h5>
                        {% else %}
                            <small><span style="color: gold">&starf;</span> Rate now?</small>
                        {% endif %}
                    </div>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        <b>Genres:</b>
                        {% for genre in title.titlegenre_set.all %}
                            {% include "tmdb/comma.html" %}{{ genre.genre.name }}
                        {% endfor %}
                    </li>
                    <li class="list-group-item">
                        {{ title.description }}
                    </li>
                </ul>
            </div>
        </a>
    {% endfor %}
    {% if is_paginated %}
        {% if page_obj.has_previous %}
            <a class="btn btn-outline-info mb-4" href="?page=1"><<</a>
            <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.previous_page_number }}"><</a>
        {% endif %}

        {% for num in page_obj.paginator.page_range %}
            {% if page_obj.number == num %}
                <a class="btn btn-info mb-4" href="?page={{ num }}">{{ num }}</a>
            {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
                <a class="btn btn-outline-info mb-4" href="?page={{ num }}">{{ num }}</a>
            {% endif %}
        {% endfor %}

        {% if page_obj.has_next %}
            <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.next_page_number }}">></a>
            <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.paginator.num_pages }}">>></a>
        {% endif %}
    {% endif %}
{% endblock content %}