{% extends "tmdb/base.html" %}
{% block content %}
    <article class="media content-section">
        <img class="article-img" src="{{ title.image.url }}" alt="{{ title.name }} Poster">
        <div class="media-body">
            <div class="article-metadata">
                <h2>{{ title.name }} <small class="text-muted">{{ title.year }}</small></h2>
            </div>
            <p class="text-muted mb-2">
                {% for genre in title.titlegenre_set.all %}
                    {{ genre.genre.name }},
                {% endfor %}
            </p>
            <p class="article-content">{{ title.description }}</p>

            <iframe class="mb-2" width="560" height="315" src="{{ title.trailer_url }}"
                    title="{{ title.name }} Trailer"
                    frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen>
            </iframe>

            <div class="mt-3 mr-3">
                <table class="text-center table table-bordered table-striped">
                    <thead class="thead-dark">
                    <tr>
                        <th>Cast & Crew</th>
                        <th>Role</th>
                    </tr>
                    </thead>

                    <tbody>
                    {% for crew in title.titlecrew_set.all %}
                        <tr>
                            <td>{{ crew.person.name }}</td>
                            <td>{{ crew.role }}</td>
                        </tr>
                    {% endfor %}

                    {% for cast in title.titlecast_set.all %}
                        <tr>
                            <td>{{ cast.person.name }}</td>
                            <td>{{ cast.character }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>

        </div>
    </article>

    <article class="media content-section">
        <div class="media-body">
            <div class="article-metadata">
                <h2>Reviews <a class="btn btn-outline-primary btn-sm mt-1 mb-1"
                               href="{% url 'review-create' title.id %}">New</a></h2>
                <div>

                </div>
            </div>
            {% for review in title.titlereview_set.all %}
                <article class="media review-section mt-4">
                    <div class="media-body">
                        <div class="article-metadata mb-3">
                            <h6 style="color: #005487; font-weight: bold;">{{ review.author }} <small
                                    class="text-muted">{{ review.date_posted }}</small></h6>
                            {% if review.author == user %}
                                <div>
                                    <a class="btn btn-outline-secondary btn-sm mt-1 mb-1"
                                       href="{% url 'review-update' review.id %}">Update</a>
                                    <a class="btn btn-outline-danger btn-sm mt-1 mb-1"
                                       href="{% url 'review-delete' review.id %}">Delete</a>
                                </div>
                            {% endif %}
                        </div>

                        <p>{{ review.rating }} &starf;</p>
                        <p>{{ review.content }}</p>

                    </div>
                </article>
            {% empty %}
                <h4 class="mt-4">No reviews have been posted yet!</h4>
                <a href="#">Would you like to be the first?</a>
            {% endfor %}

        </div>
    </article>
{% endblock content %}